@model  List<WebApplication2.Models.Modelclass>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Guidelines</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    @using (Html.BeginForm())
    {
        <div class="container">
            <img src="~/Content/Image/logo.jpg" />
        </div>
        <div class="container">
            @foreach (var item in Model)

            {
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Blood Group Type</th>
                            <th scope="col">Location</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Email</th>
                            <th scope="col">Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">@item.Name</th>
                            <td>@item.Disease</td>
                            <td>@item.Location</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.Email</td>
                            <td>@item.Address</td>
                        </tr>

                    </tbody>
                </table>
            }
        </div>

    }
</body>
</html>

