@model WebApplication2.Models.Modelclass
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hostipal Details</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <div>
            <center>  <img src="~/Content/Image/logo.png" /> </center>
        </div>
        <div class="container" style="padding: 50px;">
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                    <div class="card">
                        <img src="~/Content/Image/heart icon (1).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <center> <p class="card-text"><a href="@Url.Action("Statepage", "Default")" class="btn btn-success">CLICK HERE</a> </p> </center>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="~/Content/Image/brain icon (1).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <center> <p class="card-text"><a href="@Url.Action("Statepage1", "Default")" class="btn btn-success">CLICK HERE</a> </p> </center>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="~/Content/Image/kidneys icon (1).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <center> <p class="card-text"><a href="@Url.Action("Statepage2", "Default")" class="btn btn-success">CLICK HERE</a> </p> </center>
                        </div>
                    </div>
                </div>


                <div class="col mb-4">
                    <div class="card">
                        <img src="~/Content/Image/liver icon (1).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <center>  <p class="card-text"><a href="@Url.Action("Statepage3", "Default")" class="btn btn-success">CLICK HERE</a> </p> </center>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <img src="~/Content/Image/lungs icon (1).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <center>  <p class="card-text"><a href="@Url.Action("Statepage4", "Default")" class="btn btn-success">CLICK HERE</a> </p> </center>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
