@model WebApplication2.Models.Modelclass
@{
    Layout = null;
}

<!DOCTYPE html>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgetPassword</title>
</head>
<body>
    <a href="@Url.Action("UserLogin","Default")" class="Back">Back To Loginpage</a>
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4" style="margin-top:15%;">
                <h3 align="center">ForgetPassword</h3>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter Registered Email" })
                @Html.ValidationMessageFor(m => m.Email)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter New Password", @style = "margin-top:2%;" })
                @Html.ValidationMessageFor(m => m.Password)
                @Html.TextBoxFor(m => m.confirmpassword, new { @class = "form-control", @placeholder = "Confirm Password", @style = "margin-top:2%;" })
                @Html.ValidationMessageFor(m => m.confirmpassword)
                <b>@ViewBag.message</b><br />
                <button type="submit" class="btn btn-primary" id="btnSumbit">Submit</button>
            </div>
        </div>
    }
</body>
</html>
<script>
    $(document).ready(function () {
        $('#btnSubmit').click(function () {
            var email = $('#Email').val();
            if (email == '') {
                alert("Enter Email");
                return false
            }
            var password = $('#Password').val();
            if (password == '') {
                alert("Enter Password");
                return false
            }
            var confirm = $('#ConfirmPassword').val();
            if (confirm == '') {
                alert("Enter ConfirmPassword");
                return false
            }
        })
    })
</script>

